<%- include('parts/top.ejs')%>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class='container'>
        <form method="POST" action="/register">
            <!-- username input -->
            <%if (message) {%>
                <div class="alert alert-danger" role="alert">
                    <%= message%>
                </div>
                <%}%>
                    <div class="form-outline mb-4">
                        <input type="name" id="form2Example1" name='name' class="form-control" placeholder="name" />
                    </div>

                    <!-- email input -->
                    <div class="form-outline mb-4">
                        <input type="email" id="form2Example2" name='email' class="form-control" placeholder="Email" />
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-4">
                        <input type="password" id="form2Example2" name='password' class="form-control"
                            placeholder="password" />
                    </div>


                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary btn-block mb-4">Create
                        account</button>


        </form>
    </div>

    <%- include('parts/bottom.ejs')%>