<!DOCTYPE html>
<lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
            rel="stylesheet">

        <title>BOOK STORE</title>

        <!-- Bootstrap core CSS -->
        <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <!-- Additional CSS Files -->
        <link rel="stylesheet" href="/css/fontawesome.css">
        <link rel="stylesheet" href="/css/templatemo-sixteen.css">
        <link rel="stylesheet" href="/css/owl.css">


    </head>

    <body>

        <!-- ***** Preloader Start ***** -->

        <!-- ***** Preloader End ***** -->

        <!-- Header -->
        <header class="">
            <nav class="navbar navbar-expand-lg">
                <div class="container">
                    <a class="navbar-brand" href="index.html">
                        <h2>Sixteen <em>Books</em></h2>
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav ml-auto">
                            <% if (verifUser){ %>
                                <li class="nav-item active">
                                    <a class="nav-link" href="/">Home
                                        <span class="sr-only">(current)</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/books">all books</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="/mybooks">my books</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="/addbook">add book</a>
                                </li>


                                <form class="form-inline my-2 my-lg-0" method="POST" action="/logout">
                                    <button class="btn btn-danger" type="submit">logout</button>
                                </form>
                                <%} else{ %>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/login">login</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/register">register</a>
                                    </li>
                                    <%}%>



                                        <li class="nav-item">
                                            <a class="nav-link" href="/about">About Us</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/contact">Contact Us</a>
                                        </li>
                        </ul>

                    </div>
                </div>
            </nav>
        </header>